<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TRPG支援ツール・入室確認画面</title>
    <link rel="stylesheet" href="../static/css/roomEntry.css">
    <script src="../static/js/roomEntry.js"></script>
  </head>
  <body>
    <div style="width:100%;">
      <b>＜ルーム＞</b>に入室しますか？
    </div>
    <div style="width:100%;">
      <div>
        <input type="text" value="パスワードを入力">
        <input type="button" value="入室">          
      </div>
    
    </div>

  </body>
</html>    