<!DOCTYPE html>
<html lang="ja">
<html style="width:100%; height:100%;">
  <head>
    <title>TRPG支援ツール・アカウント設定画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" name="viewport">
    <link rel="stylesheet" href="/static/css/acountConfig.css">
    <script src="/static/js/acountConfig.js"></script>
  </head>
  <body style="width:100%; height:100%;">
    <div>
      <div style="float:left; width:120px;">
        <a href="#" onclick="acountImageChange();">
          <img src="/static/image/acountImage.jpeg" align="left">           
        </a>
      </div>
      <section id="disp-section">
      <div style="float:left; width:calc(100% - 120px);">
        {% set name = user["username"] %}
        {% set pass = user["password"] %}
        {% set memo = user["memo"] %}
        <a href="#" onclick="acountNameChange();">
          <h1 data-name="username">
            ユーザー名:{{ name }}
          </h1>
        </a>
        <a href="#" onclick="acountPasswordChange();">
          <p data-name="password">
            パスワード:{{ pass }}
          </p>
        </a>
        <a href="#" onclick="acountCommentChange();">
          <p data-name="coment">
            コメント:{{ memo }}
          </p>
        </a>
      </div>
      </section>
    </div>
    <div style="float:left; width:100%;">
      ＜所持画像＞      
    </div>
  </body>
</html>   
