<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TRPG支援ツール・キャラクター選択画面</title>
    <link rel="stylesheet" href="/static/css/charSelect.css">
    <script src="/static/js/charSelect.js"></script>
  </head>
  <body>
    <a href="/charSelect/charDataInput/" target="_blank" class="characterEditButton">＋新規キャラクターを作成</a>
    <div id="characters">
        <div id="noCharacters">
        </div>
        <div class="characterBar" id="orgChar">
            <a href="#" onclick="viewCharacter(this)">
                <div class="icons">
                    <img src="/static/image/noface.jpeg">
                </div>
                <div class="characterName">
                    <div class="innerTexts">
                        キャラクター名
                    </div>
                </div>
            </a>
            <a href="#" onclick="useCharacter(this)" class="midori">
                <div class="choice">
                    <div class="innerTexts">
                        使用する
                    </div>
                </div>
            </a>
        </div>
    </div>
  </body>
</html>    
