<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TRPG支援ツール・ルーム作成画面</title>
    <link rel="stylesheet" href="/static/css/RoomEdit.css">
    <script src="/static/js/RoomEdit.js"></script>
  </head>
  <body>
    <div>
      <input type="text" value="ルーム名">
      <input type="text" value="パスワード">
    </div>
    <div>
        <textarea style="width:100%;">コメント</textarea>
    </div>
    <div>
      <a href="#" onclick="sendCommit();">作成ボタン</a>
    </div>
  </body>
</html>    
