<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TRPG支援ツール・ルーム選択画面</title>
    <link rel="stylesheet" href="/static/css/RoomSelect.css">
    <script src="/static/js/RoomSelect.js"></script>
  </head>
  <body>
    <a href="#" onclick="editRoom();" class="roomEditButton">＋新規ルームを作成</a>
    <div id="rooms">


        <div class="room" id="orgRoom" style="border:2px solid; text-align:center;">
            <a href="#">
                <div style="width:100%;">
                    <div style="width:60%; float:left;">
                        ＜ルーム名＞
                    </div>
                    <div style="width:40%; float:left;">
                        作成者：＜プレイヤー名＞
                    </div>
                </div>

                <div>
                    ＜コメント＞
                </div>
            </a>
            
        </div>


    </div>
  </body>
</html>    
